/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #eb1b7f;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #c937ea 3px solid;
}

header h1 {
    float: left;
    margin: 0;
    padding: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
#hero {
    background: url('squid-game-bg.jpg') no-repeat center center/cover;
    height: 400px;
    text-align: center;
    padding-top: 100px;
    color: #fff;
}

#hero h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.5em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #af7bee;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background: #3c0b70;
}

/* Sections */
section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #c81a40;
}

#about p {
    text-align: center;
    font-size: 1.2em;
}

.game-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game {
    background: #2c3e50;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.game h3 {
    color: #e74c3c;
}

#rules ul {
    list-style: none;
    padding: 0;
}

#rules ul li {
    background: #2c3e50;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background: #872ded;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #1820b9;
}

/* Footer */
footer {
    background: #08286c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
